<div *ngIf="artist" class="div-artist-box">
    <div id="artist-head-card">
        <div class="image">
            <img src="{{artistUrl + '/get-image/' + artist.image}}" *ngIf="(artist.image && artist.image!=null)"/>
        </div>
        <div class="data">
            <h1>{{artist.name}}</h1>
            <p>{{artist.description}}</p>
            <a [routerLink] = "['/createAlbum', artist._id]"  *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-success">Add album</a>
        </div>
    </div>

    <div class="clearfix"></div>
    <div id="albums-gallery" *ngIf="albums">
        <!--LISTAR ALBUMS-->
        <ul class="ul-album-list">
            <li *ngFor="let album of albums" class="li-album-item col-lg-4">
                <div class="album-image">
                    <img src="{{albumUrl  + '/get-image/' +  album.image}}" *ngIf="(album.image && album.image!=null)"/>
                </div>
                <div class="album-name">
                    <p>
                        <a [routerLink] = "['/detailAlbum', album._id]">{{album.title}}</a> ({{album.year}})
                    </p>
                    <p>
                        {{album.artist.name}}
                    </p>
                    <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
                        <a class="btn btn-sm btn-warning" [routerLink] = "['/editAlbum', album._id]">Edit</a>
                        <a class="btn btn-sm btn-danger" (click) = "onDeleteAlbum(album._id)">Delete</a>
                    </div>

                    <div class="secure" *ngIf="confirmated == album._id">
                        <a class="btn btn-sm btn-danger" (click) = "onConfirmDelete(album._id)">Delete</a>
                        <a class="btn btn-sm btn-success" (click) = "onCancelDelete()">Cancel</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>